body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, nav .nav__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0f0f0f; }
  nav .nav__title {
    padding-left: 5rem; }

.nav__return {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .nav__return a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .nav__return a svg {
      padding-left: 52px;
      position: relative; }
    .nav__return a:before {
      content: '';
      width: 4rem;
      height: 2px;
      position: absolute;
      background-color: #ccac5b;
      left: 54px; }

.nav-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.nav__company-logo svg {
  height: 2.9rem; }

.nav__empty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .details__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.details__copy {
  border-top: 1px solid #ccac5b; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .rocket__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.rocket__container {
  padding: 80px 0 80px 0; }

.rocket__copyContainer {
  border-top: 1px solid #ccac5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.rocket__specification, .rocket__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: dotted 2px #a7a9ac;
  margin-top: 25px; }
  .rocket__specification ul, .rocket__stats ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    margin: 0;
    padding-left: 35px; }
    .rocket__specification ul li, .rocket__stats ul li {
      color: #a7a9ac;
      text-transform: uppercase; }
      .rocket__specification ul li span, .rocket__stats ul li span {
        color: #0f1112; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .launchPad__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.launchPad__copyContainer {
  border-top: 1px solid #ccac5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.launchPad__specification, .launchPad__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: dotted 2px #a7a9ac;
  margin-top: 25px;
  padding-left: 35px;
  padding-right: 35px; }
  .launchPad__specification ul, .launchPad__stats ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    .launchPad__specification ul li, .launchPad__stats ul li {
      color: #a7a9ac;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: 0;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      text-transform: uppercase; }
    .launchPad__specification ul .specification_results, .launchPad__stats ul .specification_results {
      -webkit-box-flex: 4;
          -ms-flex: 4;
              flex: 4;
      color: #0f1112;
      padding: 0px 0.5rem 0 0.5rem; }
      @media only screen and (min-width: 1400px) {
        .launchPad__specification ul .specification_results, .launchPad__stats ul .specification_results {
          -webkit-box-flex: 6;
              -ms-flex: 6;
                  flex: 6; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .launchDetails__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.launchDetails__title {
  color: #a7a9ac; }

.launchDetails__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.launchDetails__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3rem 0 3rem;
  padding: 80px 0 80px 0; }

.launchDetails-wraper__rocketLaunch {
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .launchDetails-wraper__rocketLaunch img {
    padding-top: 55px;
    height: auto;
    width: 200px; }

.launchDetails-wraper__rocketDetails {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.Content-section {
  background-image: url(rocket.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.Content-wrapper {
  padding-bottom: 10rem; }
  .Content-wrapper h1 {
    color: white;
    font-size: 24px;
    letter-spacing: 18px;
    text-transform: uppercase;
    text-align: center; }

.content_buttons {
  background-color: transparent;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  border: 1px solid white;
  padding: 1rem 4rem 1rem 4rem;
  margin: 1rem;
  text-transform: uppercase; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

footer {
  background-color: #22272b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px; }

.Container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  margin-left: 146px;
  margin-right: 146px; }
  .Container-footer p {
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #666;
    font-size: 14px;
    letter-spacing: 1px; }
    @media only screen and (min-width: 1400px) {
      .Container-footer p {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2; } }

.footer__links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a7a9ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__links a {
    cursor: pointer; }
    .footer__links a:hover {
      color: #fff; }
  .footer__links a:first-child {
    color: #666;
    position: relative; }
    .footer__links a:first-child:hover {
      color: #fff; }
    .footer__links a:first-child:after {
      content: ' ';
      background-color: #666;
      height: 19px;
      width: 1px;
      position: absolute;
      right: -18px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif; }

body {
  margin: 0; }

main {
  width: 100%;
  margin: 0;
  padding: 0rem;
  border-radius: 0rem;
  background: #fff; }


/*# sourceMappingURL=main.css.map*/