body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .rocket__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.rocket__container {
  padding: 80px 0 80px 0; }

.rocket__copyContainer {
  border-top: 1px solid #ccac5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.rocket__specification, .rocket__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: dotted 2px #a7a9ac;
  margin-top: 25px; }
  .rocket__specification ul, .rocket__stats ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    margin: 0;
    padding-left: 35px; }
    .rocket__specification ul li, .rocket__stats ul li {
      color: #a7a9ac;
      text-transform: uppercase; }
      .rocket__specification ul li span, .rocket__stats ul li span {
        color: #0f1112; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .launch-details__sub-title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.launch-details__sub-title {
  color: #a7a9ac; }

.launch-details_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.launch-details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3rem 0 3rem;
  padding: 80px 0 80px 0; }

.launch-details__body--uppercase {
  text-transform: uppercase; }

.launch-details__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .launch-details__body .launch-details__title {
    color: #0f0f0f;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 36px; }
  .launch-details__body .launch-details__img {
    padding-top: 55px;
    height: auto;
    width: 200px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif; }

body {
  margin: 0; }

main {
  width: 100%;
  margin: 0;
  padding: 0rem;
  border-radius: 0rem;
  background: #fff; }

button {
  background-color: transparent;
  border-radius: 20px;
  color: #a7a9ac;
  font-size: 14px;
  letter-spacing: 1px;
  border: 1px solid white;
  padding: 1rem 4rem 1rem 4rem;
  margin: 1rem;
  text-transform: uppercase;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }
  button:hover {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 18px 0px #fff;
    box-shadow: inset 0px 0px 18px 0px #fff; }
  button:active {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 18px 0px #fff;
    box-shadow: inset 0px 0px 18px 0px #fff; }

h1 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 18px;
  text-transform: uppercase;
  text-align: left; }

.details__theme {
  background-color: #0f0f0f; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0f0f0f; }
  .nav__container .nav__return-text {
    padding-left: 5rem; }

.nav__return {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .nav__return .nav__button-return {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .nav__return .nav__button-return .nav__arrow-return-svg {
      padding-left: 52px;
      position: relative; }
    .nav__return .nav__button-return:before {
      content: '';
      width: 4rem;
      height: 2px;
      position: absolute;
      background-color: #ccac5b;
      left: 54px; }

.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.nav__company-logo .nav__company-logo-svg {
  height: 2.9rem; }

.nav__empty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.launch-details__sub-title {
  color: #a7a9ac; }

.launch-details_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.launch-details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3rem 0 3rem;
  padding: 80px 0 80px 0; }

.launch-details__body--uppercase {
  text-transform: uppercase; }

.launch-details__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .launch-details__body .launch-details__title {
    color: #0f0f0f;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 36px; }
  .launch-details__body .launch-details__img {
    padding-top: 55px;
    height: auto;
    width: 200px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.details__text {
  border-top: 1px solid #ccac5b; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.rocket__container {
  padding: 80px 0 80px 0; }

.rocket__copyContainer {
  border-top: 1px solid #ccac5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.rocket__specification, .rocket__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: dotted 2px #a7a9ac;
  margin-top: 25px; }
  .rocket__specification ul, .rocket__stats ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    margin: 0;
    padding-left: 35px; }
    .rocket__specification ul li, .rocket__stats ul li {
      color: #a7a9ac;
      text-transform: uppercase; }
      .rocket__specification ul li span, .rocket__stats ul li span {
        color: #0f1112; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.launch-pad__container, .list-element__body--right, .list-element__body {
  border-top: 1px solid #ccac5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.launch-pad__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: dotted 2px #a7a9ac;
  margin-top: 25px;
  padding-left: 35px;
  padding-right: 35px; }
  .launch-pad__body ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    .launch-pad__body ul li {
      color: #a7a9ac;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: 0;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      text-transform: uppercase; }
    .launch-pad__body ul .launch-pad__list {
      -webkit-box-flex: 4;
          -ms-flex: 4;
              flex: 4;
      color: #0f1112;
      padding: 0px 0.5rem 0 0.5rem; }
      @media only screen and (min-width: 1400px) {
        .launch-pad__body ul .launch-pad__list {
          -webkit-box-flex: 6;
              -ms-flex: 6;
                  flex: 6; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.launch-details__sub-title {
  color: #a7a9ac; }

.launch-details_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.launch-details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3rem 0 3rem;
  padding: 80px 0 80px 0; }

.launch-details__body--uppercase {
  text-transform: uppercase; }

.launch-details__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .launch-details__body .launch-details__title {
    color: #0f0f0f;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 36px; }
  .launch-details__body .launch-details__img {
    padding-top: 55px;
    height: auto;
    width: 200px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.launches-list__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.launches-list__container {
  height: 90vh;
  margin: 0 0 100px 0; }

.launches-list__background-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(moon.png);
  background-size: 56%;
  background-position: center top 56px;
  height: 60vh;
  margin-top: 4%;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.launches-list__title {
  color: #a7a9ac;
  font-size: 24px;
  letter-spacing: 18px;
  margin-top: 11px; }

.launches-list__logo {
  height: 19%;
  width: 32%; }
  .launches-list__logo .launches-list__logo-svg {
    height: 100%;
    width: 100%;
    padding-left: 63px; }

.list__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px; }
  .list__error .list__error-text {
    color: #fff;
    font-size: 30px;
    letter-spacing: 9px; }

.sweet-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px; }

.filter-buttons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3rem 8rem 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .list:before {
    height: 100%;
    border: 0.1px dashed #a7a9ac;
    content: '';
    position: absolute;
    right: 50%;
    line-height: 20px;
    width: 0.05px;
    border-left: 0px;
    border-height: 0px;
    border-right-width: 2px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 35px; }

.list-element__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer; }

.list-element--empty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 100px; }

.list-element__title {
  color: #fff; }

.right {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.list-element__body--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 2px solid #ccac5b;
  position: relative; }
  .list-element__body--right:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -55.57px;
    top: -7px;
    background-color: #a7a9ac; }
  .list-element__body--right:after {
    content: '';
    width: 10px;
    height: 10px;
    position: relative;
    background-image: url(arrow_pointer.png);
    background-repeat: no-repeat;
    left: -99.5%;
    top: -6px; }

.list-element__body {
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-top: 2px solid #ccac5b;
  position: relative; }
  .list-element__body:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: -54.57px;
    top: -6px;
    background-color: #a7a9ac; }
  .list-element__body:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url(arrow_pointer.png);
    background-repeat: no-repeat;
    right: -1%;
    top: -6px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.list-element__specification {
  border-right: 1px solid #a7a9ac; }

.list-element__specification {
  padding-right: 1rem; }

.list-element__location {
  padding-left: 1rem; }

.list-element__specification, .list-element__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  .list-element__specification ul, .list-element__location ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    .list-element__specification ul li, .list-element__location ul li {
      color: #a7a9ac;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: 0;
      text-transform: uppercase; }
    .list-element__specification ul .list-element__location-element, .list-element__location ul .list-element__location-element {
      color: #fff;
      padding: 0px 0.5rem 0 0.5rem;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      white-space: nowrap;
      width: 28rem;
      overflow: hidden; }
    .list-element__specification ul .list-element__rocket-element, .list-element__location ul .list-element__rocket-element {
      color: #fff;
      width: 8rem;
      padding: 0px 0.5rem 0 0.5rem; }
      @media only screen and (min-width: 1400px) {
        .list-element__specification ul .list-element__rocket-element, .list-element__location ul .list-element__rocket-element {
          -webkit-box-flex: 6;
              -ms-flex: 6;
                  flex: 6; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.content__section {
  background-image: url(rocket.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.content__container {
  padding-bottom: 10rem; }
  .content__container .content__title {
    color: white;
    font-size: 24px;
    letter-spacing: 18px;
    text-transform: uppercase;
    text-align: center; }

.content__button {
  color: white;
  font-size: 14px;
  border: 1px solid white; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f1112; }

.category__title, .nav__container .nav__return-text, .launch-details__sub-title, .details__title, .rocket__title, .launch-pad__title, .list-element__title {
  font-weight: 600;
  letter-spacing: 9px;
  font-size: 14px;
  color: #ccac5b;
  text-transform: uppercase; }

h1 {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 36px; }

p, li {
  letter-spacing: 1px; }

.footer__container {
  background-color: #22272b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px; }

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  margin-left: 146px;
  margin-right: 146px; }
  .footer__body .footer__text {
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #666;
    font-size: 14px;
    letter-spacing: 1px; }
    @media only screen and (min-width: 1400px) {
      .footer__body .footer__text {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2; } }

.footer__links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a7a9ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__links .footer__link-element {
    cursor: pointer; }
    .footer__links .footer__link-element:hover {
      color: #fff; }
    .footer__links .footer__link-element:first-child {
      color: #666;
      position: relative; }
      .footer__links .footer__link-element:first-child:hover {
        color: #fff; }
      .footer__links .footer__link-element:first-child:after {
        content: ' ';
        background-color: #666;
        height: 19px;
        width: 1px;
        position: absolute;
        right: -18px; }


/*# sourceMappingURL=main.css.map*/