@import "~styles/variables"  // '~' informs sass-loader that is not relative path

.launchPad__title
	@extend .category__title

.launchPad__copyContainer
	border-top: 1px solid $emphasized-color
	display: flex
	justify-content: space-around

.launchPad__specification, .launchPad__stats
	display: flex
	flex: 1
	border-left: dotted 2px $specification-color
	margin-top: 25px
	padding-left: 35px
	padding-right: 35px

	ul
		display: flex
		list-style: none
		padding: 0
		margin: 0

		li
			color: $specification-color
			justify-content: space-around
			margin: 0
			flex: 1
			text-transform: uppercase

		.specification_results 
			flex: 4
			color: $paragraph-color
			padding: 0px 0.5rem 0 0.5rem
			
			@media only screen and (min-width: 1400px)
				flex: 6