@import "~styles/variables"  // '~' informs sass-loader that is not relative path

.launchDetails__title
	@extend .category__title
	color: $specification-color

.launchDetails__container
  flex: 1

.launchDetails__wraper 
	display: flex
	margin: 0 3rem 0 3rem
	padding: 80px 0 80px 0

.launchDetails-wraper__rocketLaunch
	text-transform: uppercase 
	flex: 1

	h1
		color: $header-font-color

	img
		padding-top: 55px
		height: auto
		width: 200px

.launchDetails-wraper__rocketDetails
	flex: 1
