$background-color: #fff
$emphasized-color: #ccac5b
$header-font-color: #0f0f0f
$navigation-background-color: #22272b
//$paragraph-color:#0f1112
$specification-color: #a7a9ac

body
	font-family: 'Open Sans', sans-serif 
	font-size: 14px

.category__title
 font-weight: 600 // semi-bold
 letter-spacing: 9px
 font-size: 14px
 color: $emphasized-color
 text-transform: uppercase

h1
 font-weight: 600 // semi-bold
 letter-spacing: 1.5px
 font-size: 36px

p, li
	font-weight: 500 // regular
	letter-spacing: 1px