@import "variables"
@import "Home"
@import "Header"
@import "LaunchDetails"
@import "Rocket"

html
  font-size: 10px

body
  margin: 0

main
  width: 100%
  margin: 0
  padding: 0rem
  border-radius: 0rem
  background: $background-color

h1
 font-family: 'Open Sans', sans-serif 
 font-weight: 600 // semi-bold
 letter-spacing: 1.5px
 font-size: 36px
 
.category__title
 font-family: 'Open Sans', sans-serif 
 font-weight: 600 // semi-bold
 letter-spacing: 9px
 font-size: 14px
 color: $emphasized-color
 text-transform: uppercase
